<!-- Optional additional links to insert for icons links -->

<a
  id="subscribe-link"
  class="icon"
  title="Subscribe"
  aria-label="Subscribe"
  href="https://github.com/spaam-community"
>
  {% include svg/github.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Element"
  aria-label="Element"
  href="https://matrix.to/#/#spaam:archaeo.social"
>
  {% include svg/element.svg %}
</a>




<a
  id="send-email"
  class="icon"
  title="Send Email"
  aria-label="Send Email"
  href="https://www.listserv.dfn.de/sympa/info/spaam-community"
>
  {% include svg/email.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="X"
  aria-label="X"
  href="https://X.com/spaam_community"
>
  {% include svg/x.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Mastodon"
  aria-label="Mastodon"
  href="https://genomic.social/@spaam_community"
>
  {% include svg/mastodon.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Youtube"
  aria-label="Youtube"
  href="https://www.youtube.com/@spaam-community"
>
  {% include svg/youtube.svg %}
</a>
